footer {
  width: 100%;
  height: 329px;
  background: #20113d;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_items {
  width: 1400px;
}

.footer_top {
  padding: 70px 0;
  border-bottom: 1px solid #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.footer_top > ul {
  padding: 0;
  width: 413px;
}
.footer_top > nav > ul,
.footer_top > nav {
  padding: 0;
  width: 425px;
}
.footer_top > nav :hover {
  color: #00a092;
}
.footer_top > nav > ul > li > a {
  color: #ffffff;
}
.footer_top > ul > li > img {
  height: 50px;
}
.footer_top > button {
  width: 359px;
  padding: 2px 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: Transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.footer_top > button:hover,
.footer_top > button:active {
  background: #00a092;
}

.footer_bottom {
  padding: 40px 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links {
  padding: 0;
  width: 448px;
  color: #ffffff;
}
.foot {
  margin: 0;
  width: 200px;
}
@media screen and (max-width: 1400px) {
  .footer_items {
    width: 1200px;
  }
  .footer_top,
  .footer_bottom {
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer_top > ul {
    margin: 0;
    width: 344px;
  }
  .footer_top > nav {
    width: 347px;
  }
}
@media screen and (max-width: 1120px) {
  footer {
    height: 545px;
  }
  .footer_items {
    width: 640px;
  }
  .footer_top ul {
    margin: 0;
  }
  .footer_top {
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
  .footer_top > ul {
    width: 445px;
    margin-bottom: 46px;
  }
  .footer_top > nav {
    width: 445px;
    margin-bottom: 44px;
  }
  .footer_top > nav > ul {
    width: 445px;
  }
  .footer_top > ul {
    width: 444px;
  }
  .footer_bottom {
    flex-direction: column-reverse;
    padding-top: 50px;
  }
  .footer_bottom > .foot {
    display: flex;
    width: 220px;
    margin: 0 0 30px;
    padding: 0;
  }
  .links {
    margin: 0;
  }
}

@media screen and (max-width: 578px) {
  footer {
    height: 710px;
  }
  .footer_items {
    width: 320px;
  }
  .footer_top {
    padding: 50px 0;
    padding-bottom: 0;
    border-bottom: none;
    height: 337px;
  }
  .footer_top > ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 300px;
  }
  .footer_top > ul > li {
    height: 50px;
    margin-bottom: 30px;
  }
  .footer_top > nav > ul {
    margin: 0;
  }
  .footer_top > nav > ul > li > a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  .footer_top > nav {
    width: 300px;
    height: 20px;
    margin-bottom: 30px;
  }
  .footer_top > button {
    width: 300px;
    height: 45px;
    padding: 11px 20px;
    text-transform: none;
  }
  .footer_bottom {
    padding-top: 30px;
  }
  .footer_bottom > .foot {
    width: 320px;
    padding: 0 0 30px;
    justify-content: space-evenly;
    border-bottom: 1px solid #ffffff;
  }
  .links {
    width: 300px;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
  .links > li {
    margin-bottom: 30px;
  }
}
