header {
  width: 100%;
  height: 109px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #f58021;
  z-index: 5;
}
h1 {
  height: 50px;
  visibility: hidden;
}
nav {
  width: 801px;

  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  padding: 0;
}
a {
  text-decoration: none;
}
.header_items {
  width: 1400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu,
.social_networks {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}
nav > ul > li > a {
  color: #000;
}
nav :hover {
  color: #00a092;
}
.menu {
  width: 556px;
}
.green {
  color: #00a092;
  pointer-events: none;
}
.social_networks {
  margin-top: 30px;
  width: 180px;
  justify-content: space-between;
}

.social_networks :hover,
.social_networks :hover {
  opacity: 0.8;
}
.close-hamburger,
.hamburger {
  display: none;
}
@media screen and (max-width: 1400px) {
  .header_items {
    width: 1000px;
  }
  nav {
    width: 741px;
  }
  .menu {
    width: 481px;
  }
  nav > ul {
    padding: 0;
  }
  .social_networks {
    padding-left: 80px;
  }
  h1 {
    width: 100px;
  }
}
@media screen and (max-width: 997px) {
  header {
    position: fixed;
  }
  /*.header_items ul,*/
  .social_networks {
    display: none;
  }
  .header_items > nav {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    right: -1000px;
    top: -10px;
    width: 311px;
    height: 754px;
    background: #20113d;
    transition: 0.5s;
  }
  .close-hamburger {
    display: block;
    margin-top: 40px;
    margin-left: 214px;
  }
  .menu {
    padding-left: 11px;
    width: 100%;
    margin-top: 90px;
    flex-direction: column;
    align-items: center;
  }
  .item {
    color: #ffffff;
  }
  .menu > li {
    width: 100%;
    width: auto;
    margin-bottom: 55px;
  }
  .header_items {
    width: 600px;
    position: relative;
  }
  .hamburger {
    display: block;
    margin-right: 27px;
  }
}
@media screen and (max-width: 578px) {
  .header_items {
    width: 280px;
  }
  .header_items > nav {
    width: 233px;
    height: 600px;
  }
  .menu {
    margin-top: 70px;
  }
  .close-hamburger {
    margin-left: 148px;
  }
  .hamburger {
    object-fit: cover;
    width: 22px;
    height: 30px;
    margin-right: 15px;
  }
}
