main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.watch_background {
  height: 790px;
  width: 1920px;
  background: url(../../assets/images/background_panda.jpg) no-repeat;
  background-position: -35px -35px;
}
.watch {
  padding-top: 129px;
  padding-left: 261px;
}
.watch > h2 {
  width: 890px;
  height: 280px;
  margin: 0px;

  margin-bottom: 50px;
  font-weight: 800;
  font-size: 82px;
  line-height: 100px;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #00a092;
}
.watch > p {
  width: 430px;
  margin-bottom: 45px;
}
.watch > a > button {
  padding: 26px;
  width: 240px;
}
.watch > a > button > img {
  margin-left: 5px;
}
@media (max-width: 1400px) {
  .watch_background {
    width: 1200px;
    height: 690px;
    background: linear-gradient(
        90.7deg,
        #ffffff 10%,
        rgba(255, 255, 255, 0) 15%
      ),
      linear-gradient(270.86deg, #ffffff 10%, rgba(255, 255, 255, 0) 30%),
      url(../../assets/images/Panda_background.jpg) no-repeat;
    background-size: 1412px 800px;
    background-position: -90px -40px;
  }
  .watch {
    padding-top: 100px;
    padding-left: 40px;
  }
  .watch > h2 {
    margin-bottom: 30px;
  }
  .watch > p {
    width: 338px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1120px) {
  main {
    margin-top: 110px;
  }
  .watch_background {
    height: 644px;
    width: 640px;
    background: linear-gradient(
        90.7deg,
        #ffffff 23.04%,
        rgba(255, 255, 255, 0) 62.81%
      ),
      url(../../assets/images/Panda_background.jpg) no-repeat;
    background-size: auto 387px;
    background-position: left bottom -30px;
  }
  .watch {
    padding-top: 50px;
    padding-left: 20px;
  }
  .watch > h2 {
    font-weight: 800;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.01em;
    width: 600px;
    height: 334px;
  }
  .watch > p {
    height: 76px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .watch > a > button {
    width: 285px;
    padding: 26px 50px;
  }
}
@media (max-width: 578px) {
  .watch_background {
    height: 686px;
    width: 320px;
    background: url(../../assets/images/Panda_background.jpg) no-repeat;
    background-size: auto 281px;
    background-position: left -150px bottom;
  }
  .watch {
    padding-top: 20px;
    padding-left: 10px;
  }
  .watch > h2 {
    font-size: 40px;
    line-height: 49px;
    width: 300px;
    height: 186px;
    margin-bottom: 20px;
  }
  .watch > p {
    width: 299px;
    height: 106px;
    margin-bottom: 30px;
  }
  .watch > a > button {
    width: 300px;
    padding: 0 50px;
  }
}
/*-------------------------------------------------------*/
.welcome {
  width: 1920px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article > h2 {
  margin-bottom: 55px;
}
section > img {
  height: 531px;
  width: 800px;
}
.up-section,
.down-section {
  width: 1400px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.up-section p {
  padding-bottom: 40px;
}
.down-section p {
  padding-bottom: 20px;
}
.welcome > section > article {
  width: 560px;
}
@media (max-width: 1400px) {
  .welcome {
    width: 1200px;
    margin-top: 100px;
  }
  section > img {
    height: 436px;
    width: 660px;
    margin-bottom: 30px;
  }
  .up-section {
    width: 660px;
    flex-direction: column-reverse;
    align-items: baseline;
    margin-left: 100px;
    margin-right: 440px;
    margin-bottom: 35px;
  }
  .down-section {
    width: 660px;
    flex-direction: column;
    align-items: baseline;
    margin-left: 340px;
    margin-bottom: 80px;
  }
  article > h2 {
    margin-bottom: 30px;
  }
}
.hide {
  background: transparent;
}
@media (max-width: 1120px) {
  .welcome {
    margin-top: 100px;
    width: 640px;
  }
  section > img {
    height: 443px;
    width: 640px;
    margin-bottom: 30px;
  }
  .up-section > img {
    height: 438px;
    width: 640px;
    object-fit: cover;
  }
  .up-section {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 640px;
  }
  .welcome > section > article {
    margin-left: 20px;
    width: 600px;
  }
  .down-section {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80px;
    width: 640px;
  }
  .down-section > article {
    margin-top: -10px;
  }
}
@media (max-width: 578px) {
  .welcome {
    width: 320px;
    margin-top: 50px;
  }
  .up-section > img,
  .down-section > img {
    width: 320px;
    height: 218px;
  }
  .up-section,
  .down-section {
    width: 320px;
  }
  .down-section > article {
    margin-top: 0;
  }
  .down-section > article > p {
    width: 310px;
  }
  .welcome > section > article {
    width: 300px;
    margin-left: 10px;
  }
  article > h2 {
    margin-bottom: 25px;
  }
  .hide {
    display: none;
  }
  .down-section {
    margin-bottom: 25px;
  }
}
/*-------------------------------------------------------*/
.donation_background {
  width: 100%;
  height: 221px;
  background: #20113d;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 136px;
}
.donation {
  width: 1400px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  color: #ffffff;
}
.text > h3 {
  margin: 0px 0px 20px;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
}
.text > p {
  width: 609px;
  margin: 0;
}
.input > h4 {
  margin-bottom: 10px;
}
.form {
  position: relative;
  width: 320px;
  height: 74px;
  display: flex;
  flex-direction: row;
}
.form::before {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  top: 26px;
  left: 16px;
  content: "$";
}
.number {
  width: 240px;

  border: 1px solid #ffffff;
  background-color: Transparent;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;

  text-align: center;
  outline: none;
}
.number::placeholder {
  color: #ffffff;
  text-transform: uppercase;
}
.form > button {
  width: 80px;
  height: 74px;

  border: 5px solid #f58021;
  box-sizing: border-box;
  background: #f58021;

  border-radius: 5px;
}
@media (max-width: 1400px) {
  .donation_background {
    height: 313px;
    margin-bottom: 102px;
  }
  .donation {
    width: 1000px;
  }
  .text > h3 {
    width: 577px;
  }
  .text > p {
    width: 576px;
  }
}
@media (max-width: 1120px) {
  .donation_background {
    height: 459px;
  }
  .donation {
    width: 600px;
    flex-direction: column;
    align-items: center;
  }
  .text,
  .input {
    text-align: center;
  }
  .text > h3 {
    letter-spacing: 1px;
    margin-left: 17px;
    width: 565px;
    margin-bottom: 30px;
  }
  .text > p {
    width: 600px;
  }
  .text {
    margin-bottom: 30px;
  }
  .form {
    width: 363px;
  }
  .form::before {
    left: 35px;
  }
  .number {
    width: 289px;
  }
}
@media (max-width: 578px) {
  .donation_background {
    height: 446px;
    margin-bottom: 50px;
  }
  .donation {
    width: 300px;
  }
  .text,
  .input {
    text-align: center;
  }
  .donation h3 {
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 0;
    line-height: 32px;
  }
  .text > h3 {
    width: 300px;
    margin: 0px 0px 30px;

    text-transform: uppercase;
    margin-top: 0;
  }
  .text > p {
    width: 300px;
  }
  .text {
    margin-bottom: 30px;
  }
  .input > .form,
  .form > button {
    height: 45px;
  }
  .input > .form {
    width: 300px;
  }
  .form::before {
    left: 30px;
  }
  .form > button {
    width: 65px;
    padding: 0;
  }
  .number {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  .form::before {
    top: 11px;
  }
  .form {
    margin-bottom: 10px;
  }
}
/*-------------------------------------------------------*/
.our_friends {
  width: 1920px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}
.our_friends > h2 {
  margin-bottom: 50px;
  width: max-content;
  margin-left: 650px;
  text-align: center;
}
.our_friends > h4 {
  width: 920px;
  margin-bottom: 100px;
  align-self: center;
}
.arrow_buttons {
  width: 180px;
  height: 60px;

  align-self: center;
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}
.arrow_buttons > button {
  width: 60px;
  height: 60px;
  background-color: Transparent;
  box-sizing: border-box;
  border-radius: 5px;
}
.arrow_buttons_left {
  background: url(../../assets/icons/arrow2.svg);
  border: 1px solid #20113d;
}
.arrow_buttons_right {
  background: url(../../assets/icons/arrow1.svg);
  border: 1px solid #20113d;
}
.arrow_buttons_left:hover,
.arrow_buttons_left:active {
  background: url(../../assets/icons/navy_arrow1.svg);
}
.arrow_buttons_right:hover,
.arrow_buttons_right:active {
  background: url(../../assets/icons/navy_arrow2.svg);
}
.cards-contuner {
  position: relative;
  width: 1920px;
  height: 1574px;
  padding-top: 20px;
  overflow: hidden;
}
.cards {
  left: 0;
  width: 3800px;
  margin-left: 260px;
  transition: 1.3s;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-back {
  margin-bottom: 40px;
}
.card {
  position: relative;
  height: 747px;
  width: 440px;

  transition: 0.3s;
  color: #fff;
  background: #20113d;
  border-radius: 5px;
}
.card:hover {
  transform: scale(1.05);
}
.card_name {
  position: absolute;
  top: 0;
  padding: 14px 27px;
  border-radius: 5px 0px;
  text-align: center;
  background: #20113d;
}
.card > img {
  margin-bottom: 30px;
  height: 436px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card > h4 {
  text-align: center;
}
.card > p {
  width: 351px;
  margin-top: 20px;
  text-align: center;
  margin-left: 44px;
}
.card > button {
  width: 240px;
  height: 73px;

  padding: 10px;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  margin-left: 110px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background-color: Transparent;
  border: none;
  color: #f58021;
}
button > .arrow {
  display: block;
  width: 28px;
  height: 25px;
  background: url(../../assets/icons/red_arrow.svg);
}
.card > button:hover,
.card > button:active {
  background: #f58021;
  border: 1px solid #f58021;
  border-radius: 5px;
  color: #ffffff;
}
.card > button:hover > .arrow,
.card > button:active > .arrow {
  background: url(../../assets/icons/white_ar.svg) no-repeat;
}
.gradient-left::before,
.gradient::before {
  content: "";
  position: absolute;
  height: 1574px;
  width: 220px;
  z-index: 5;
  top: 0;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 30%,
    rgba(255, 255, 255, 1) 70%
  );
}
.gradient::after {
  content: "";
  position: absolute;
  left: 1700px;
  top: 0;
  z-index: 5;

  height: 1574px;
  width: 220px;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 30%,
    rgba(255, 255, 255, 1) 70%
  );
}
.our_friends > a {
  align-self: center;
  width: 359px;
  height: 74px;
  margin: 63px 0px 150px;
}
.our_friends > a > button {
  width: 359px;
  height: 74px;

  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;

  border: 1px solid #20113d;
  border-radius: 5px;
  background-color: Transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
button > .bl_arr {
  width: 25px;
  height: 22px;
  background: url(../../assets/icons/bl_btn.svg);
}
.our_friends > a > button:hover,
.our_friends > a > button:active {
  color: #ffffff;
  background: #20113d;
}
.our_friends > a > button:hover > .bl_arr,
.our_friends > a > button:active > .bl_arr {
  background: url(../../assets/icons/white_arr2.svg);
}
@media (max-width: 1915px) {
  .our_friends {
    width: 1200px;
  }
  .our_friends > h2 {
    margin-left: 332px;
    margin-bottom: 30px;
  }
  .our_friends > h4 {
    width: 830px;
    text-align: center;
    margin-bottom: 105px;
  }
  .arrow_buttons {
    width: 175px;
    margin-bottom: 10px;
  }
  .cards-contuner {
    position: relative;
    height: 1472px;
    margin-left: 20px;
    width: 1160px;
  }
  .cards {
    width: 3780px;
    margin-left: 20px;
  }
  .card-back {
    margin-bottom: 20px;
  }
  .card {
    width: 455px;
    height: 716px;
  }
  .card > img {
    width: 455px;
    height: 436px;
    margin-bottom: 10px;
  }
  .card > p {
    width: 395px;
    margin-left: 30px;
  }
  .card > button {
    margin-bottom: 35px;
  }
  .gradient::after {
    position: absolute;
    height: 1492px;
    left: auto;
    right: 0;
  }
  .gradient::before {
    content: none;
  }
  .gradient-left::before {
    position: absolute;
    height: 1492px;
    left: 0;
  }
  .our_friends > a {
    margin-top: 30px;
  }
}
@media (max-width: 1120px) {
  .our_friends {
    width: 640px;
    overflow: hidden;
  }
  .our_friends > h2 {
    width: 394px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .our_friends > h4 {
    width: 600px;
    text-align: center;
    margin-bottom: 40px;
  }
  .arrow_buttons {
    display: none;
  }
  .cards-contuner {
    width: 640px;
    height: 630px;
    margin-left: 0;
    padding: 0;
    overflow: visible;
  }
  .gradient-left::before,
  .gradient::after {
    content: none;
  }
  .cards {
    width: 640px;
    height: 630px;
    margin-left: 0;
    flex-wrap: nowrap;
    overflow: scroll;
  }
  .cards::-webkit-scrollbar {
    display: none;
  }
  .card-back {
    width: 290px;
    height: 600;
    margin: 0;
    padding: 15px 15px;
  }
  .card {
    width: 290px;
    height: 600px;
  }
  .card > img {
    object-fit: cover;
    width: 290px;
    height: 333px;
  }
  .card > p {
    margin-top: 15px;
    width: 260px;
    margin-left: 24px;
  }
  .card > button {
    margin-bottom: 11px;
    margin-left: 25px;
  }
  .our_friends > a {
    margin-top: 35px;
    margin-bottom: 100px;
  }
  #sli1 {
    order: -2;
  }
  #sli2 {
    order: -1;
  }
}
@media (max-width: 578px) {
  .our_friends {
    width: 320px;
  }
  .our_friends > h2 {
    width: 320px;
  }
  .our_friends > h4 {
    width: 300px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 10px;
  }
  .cards-contuner {
    width: 320px;
    margin-bottom: 48px;
  }
  .cards {
    width: 320px;
  }
  .card-back {
    width: 320px;
    padding: 15px 10px;
  }
  .card {
    width: 300px;
  }
  .card > img {
    object-fit: cover;
    width: 300px;
    height: 333px;
  }
  .our_friends > a {
    display: none;
  }
}
/*-------------------------------------------------------*/
.pay_and_feed_background {
  width: 100%;
  background: #20113d;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.pay_and_feed {
  width: 1400px;

  color: #ffffff;
}
.pay_and_feed > h2 {
  margin-top: 91px;
  color: #ffffff;
}
.food {
  margin-top: 87px;
}
.heard,
.money {
  margin-top: 100px;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 82px;
}
.inform {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inf > img {
  padding-top: 19px;
  padding-bottom: 30px;
}
.inf > h4 {
  width: 502px;
}
.heard {
  padding-bottom: 7px;
}

.inf > p {
  width: 560px;
  font-weight: 300;
  padding-top: 50px;
  padding-right: 120px;
  margin: 0px;
}
.pay_and_feed mark {
  color: #ffffff;
}
section > button {
  padding: 0px 30px;
  margin-top: 50px;
  margin-left: 720px;
  margin-bottom: 100px;
  width: 240px;
}
@media (max-width: 1400px) {
  .pay_and_feed {
    width: 1120px;
  }
  .pay_and_feed > h2 {
    margin-top: 150px;
    margin-left: 60px;
    padding-bottom: 10px;
  }
  .pay_and_feed > section {
    margin-top: 87px;
  }
  .top {
    margin-bottom: 45px;
  }
  .top > img {
    width: 1025px;
    height: 1px;
    object-fit: cover;
  }
  .money {
    margin-bottom: -5px;
  }
  .food .top > h4 {
    width: 33px;
  }
  .inform {
    align-items: flex-end;
  }
  .inform > img {
    width: 550px;
    height: 358px;
  }
  .heard > .inform > img {
    padding-bottom: 15px;
  }
  .inf {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heard {
    padding: 0;
  }
  .money > .inform > img,
  .food > .inform > img {
    padding-top: 15px;
  }
  .money .inf > img {
    padding-top: 0;
  }
  .money .inf {
    padding-bottom: 25px;
  }
  .food .inf {
    padding-bottom: 25px;
    width: 549px;
  }
  .food h4 {
    width: 490px;
  }
  .inf > h4 {
    text-align: center;
  }
  .inf > p {
    width: 545px;
    padding-top: 30px;
    text-align: center;
    padding-right: 0;
  }
  section > button {
    margin-top: 100px;
    margin-left: 570px;
    width: 266px;
  }
}
@media (max-width: 1120px) {
  .pay_and_feed {
    width: 640px;
  }
  .pay_and_feed > h2 {
    margin-top: 80px;
    margin-left: -15px;
    text-align: center;
  }
  .pay_and_feed > section {
    margin-top: 40px;
  }
  .top {
    margin-bottom: 50px;
  }
  .inform {
    flex-direction: column;
    align-items: center;
  }
  .inform > img {
    height: 417px;
    width: 640px;
    padding: 0;
    margin-bottom: 20px;
  }
  .money {
    margin-bottom: -10px;
  }
  .money > .inform > img {
    padding: 0;
  }
  .money .inf > img {
    padding-top: 35px;
  }
  .food > .inform > img {
    padding: 0;
  }
  .food .inf > img {
    padding: 30px 0;
  }
  .food .inf > h4 {
    width: 560px;
  }
  .inf,
  .inf > p {
    width: 600px;
  }
  .top {
    width: 600px;
    margin-left: 20px;
  }
  .top > img {
    width: 563px;
  }
  section > button {
    width: 290px;
    padding: 26px 50px;
    margin-left: 175px;
    margin-bottom: 80px;
    margin-top: 30px;
  }
}
@media (max-width: 578px) {
  .pay_and_feed {
    width: 320px;
  }
  .pay_and_feed > h2 {
    margin-left: 0;
    margin-top: 20px;
  }
  .pay_and_feed > section {
    margin-top: 35px;
  }
  .top {
    width: 310px;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .top > img {
    width: 268px;
    height: 2px;
    background: url(../../assets/icons/Short_line.svg);
    margin-left: 10px;
  }
  .inform > img {
    height: 208px;
    width: 320px;
    margin-bottom: 0;
  }
  .inf {
    width: 300px;
  }
  .inf > h4 {
    width: 300px;
  }
  .heard {
    padding-bottom: 7px;
  }
  /*{
    width: 300px;
    padding-top: 30px;
  }*/
  .heard .inf > p {
    width: 280px;
  }
  .money .inf > p {
    width: 300px;
  }
  .money {
    margin-bottom: -15px;
  }
  .food .inf,
  .food .inf > h4,
  .food .inf > p {
    width: 300px;
  }
  section > button {
    margin-top: 20px;
    width: 300px;
    padding: 5px 50px;
    margin-left: 10px;
    margin-bottom: 50px;
  }
}
/*-------------------------------------------------------*/
.feedback_back {
  width: 1920px;
  background: url(../../assets/images/panda_back.jpg) no-repeat;
  background-position: bottom -50px left -300px;
}
.feedback {
  margin-top: 100px;
}
.feedback-items {
  width: 1660px;
  margin-left: 260px;
  color: #ffffff;

  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feedback_lefl {
  width: 560px;
}
.feedback_lefl > h2 {
  width: 440px;
  color: #ffffff;
  margin-bottom: 40px;
}
.feedback_right {
  width: 1060px;
  overflow: hidden;
}
.feedback_cards {
  width: 2150px;
  transition: 1.3s;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 27px;
}
.feedback_card {
  position: relative;
  width: 515px;
  height: 463px;
  background: #ffffff;
  color: #000;
  /*box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);*/
  border-radius: 5px;
  margin-bottom: 30px;
}
.feedback_card > img {
  margin: 45px 55px 40px;
}
.feedback_card > h4 {
  margin: 0px 50px 20px;
}
.feedback_card > p {
  width: 415px;
  margin: 0px 50px;
}
.feedback_card > h5 {
  position: absolute;
  width: max-content;
  text-align: center;
  left: 50px;
  bottom: 70px;
  margin: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
.feedback_button {
  border: 1px solid #ffffff;
  margin-bottom: 150px;
}
.feedback_ar_left {
  background: url(../../assets/icons/wh_ar_btn1.svg);
}
.feedback_ar_left:hover,
.feedback_ar_left:active {
  background: url(../../assets/icons/a_wh_ar_btn2.svg);
}
.feedback_ar_right {
  background: url(../../assets/icons/wh_ar_btn2.svg);
}
.feedback_ar_right:hover,
.feedback_ar_right:active {
  background: url(../../assets/icons/a_wh_ar_bth1.svg);
}
.button_liave {
  width: 359px;
  height: 74px;

  justify-content: space-between;
  padding: 26px 75px;

  margin-top: 350px;
  margin-left: 260px;
  margin-bottom: 150px;

  color: #ffffff;
  background-color: Transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  border-radius: 5px;
}
.button_liave:hover,
.button_liave:active {
  background: #00a092;
}
.feedback_right > .slider {
  display: none;
}
.feedback_right .point {
  background: url(../../assets/icons/white_em_point.svg);
}
.feedback_right .fill-point {
  background: url(../../assets/icons/white_point.svg);
}
@media (max-width: 1915px) {
  .feedback_back {
    width: 1200px;
    height: 1880px;
    background-position: left -180px bottom -220px;
  }
  .feedback {
    width: 100%;
    height: 1780px;
    background: linear-gradient(
        270.86deg,
        #20113d 1%,
        rgba(255, 255, 255, 0) 20%
      ),
      linear-gradient(90.7deg, #20113d 2%, rgba(255, 255, 255, 0) 30%);
    margin-top: 100px;
  }
  .feedback-items {
    width: 100%;
    flex-direction: column;
    margin-left: 0;
  }
  .feedback_lefl {
    margin-left: 40px;
    margin-bottom: 60px;
  }
  .feedback_lefl > h2 {
    margin-bottom: 20px;
  }
  .feedback_right {
    margin-left: 141px;
  }
  .feedback_cards {
    margin-bottom: 71px;
  }
  .feedback_buttons {
    margin-left: 839px;
    width: 180px;
  }
  .button_liave {
    margin-top: 90px;
    margin-left: 135px;
    margin-bottom: 200px;
  }
}
@media (max-width: 1120px) {
  .feedback_back {
    width: 640px;
    height: 1670px;
    background-size: 1953px;
    background-position: left -90px bottom -120px;
  }
  .feedback {
    margin-top: 80px;
    height: 1590px;
  }
  .feedback_lefl {
    margin-left: 20px;
  }
  .feedback_lefl > h4 {
    width: 577px;
  }
  .feedback_right {
    position: relative;
    margin-left: 20px;
  }
  .blue-gradient::before {
    position: absolute;
    right: 0;
    content: "";
    width: 100px;
    height: 371px;
    background: linear-gradient(
      270.86deg,
      #20113d 1%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 5;
  }
  .feedback_cards {
    width: 620px;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
  .feedback_card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 523px;
    height: 371px;
    text-align: center;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .feedback_card > img {
    position: absolute;
    top: 45px;
    left: 35px;
    margin: 0;
  }
  .feedback_card > h4 {
    width: 200px;
    margin-top: 50px;
  }
  .feedback_card > p {
    width: 463px;
    margin-bottom: 43px;
  }
  .feedback_card > h5 {
    margin: 0;
    margin-top: 10px;
  }
  .button_liave {
    width: 368px;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 752px;
  }
}
@media (max-width: 578px) {
  .feedback_back {
    width: 320px;
    height: 1461px;
    background-size: auto 560px;
    background-position: left -45px bottom -70px;
  }
  .feedback {
    height: 1421px;
    margin-top: 40px;
  }
  .blue-gradient::before {
    content: none;
  }
  .feedback_lefl {
    width: 300px;
    margin-left: 10px;
    margin-bottom: 40px;
  }
  .feedback_lefl > h2 {
    width: 300px;
    text-align: center;
    margin-bottom: 25px;
  }
  .feedback_lefl > h4 {
    width: 300px;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
  }
  .feedback_right {
    margin-left: 10px;
  }
  .feedback_right > .slider > .point:focus,
  .feedback_right > .slider > .point:hover {
    background: url(../../assets/icons/white_point.svg);
  }
  .feedback_cards {
    width: 300px;
    height: 549px;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
  }
  .feedback_cards::-webkit-scrollbar {
    display: none;
  }
  .feedback_card {
    width: 300px;
    height: 549px;
    background: #ffffff;
    color: #000;
    box-shadow: none;
  }
  .feedback_card > img {
    top: 45px;
    left: 35px;
  }
  .feedback_card > h4 {
    width: 280px;
    margin: 116px 50px 20px;
  }
  .feedback_card > p {
    width: 260px;
    margin-bottom: 0;
  }
  .feedback_card > h5 {
    position: absolute;
    margin-left: 0;
    bottom: 50px;
  }
  .feedback_right > .slider {
    display: flex;
    margin-left: 105px;
  }
  .button_liave {
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 440px;
    padding: 5px 45px;
    width: 300px;
    height: 45px;
  }
}
/*------------------------------------------------------*/
.care {
  width: 1920px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.care mark {
  color: #ffffff;
}
.care > h2 {
  width: 655px;
  margin: 136px 0px 50px;
  text-align: center;
}
.care > h4 {
  width: 537px;
  margin-bottom: 100px;
  text-align: center;
}
.care_cards {
  width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.care_cards > a {
  height: 658px;
  width: 440px;
  margin-bottom: 30px;
}
.care_card {
  height: 658px;
  margin-bottom: 0;
}
.care_card > img {
  height: 373px;
}
.care_card > p {
  width: 390px;
  margin-left: 25px;
}
.care_card > button {
  justify-content: space-around;
  padding: 15px;
  margin-left: 149px;
  width: 124px;
}
.care > a {
  width: 359px;
  margin-top: 74px;
  margin-bottom: 150px;
}
.care > a > button {
  width: 359px;
  padding: 26px;
  font-weight: 600;
  background-color: Transparent;
  text-transform: uppercase;
  border: 1px solid #20113d;
  border-radius: 5px;
}
.care > a > button > .arr {
  width: 25px;
  height: 22px;
  background: url(../../assets/icons/bl_btn.svg);
}
.care > a > button:hover,
.card > a > button:active {
  background: #20113d;
  color: #ffffff;
}
.care > a > button:hover > .arr,
.card > a > button:active > .arr {
  background: url(../../assets/icons/white_arr2.svg);
}
.care > img {
  height: 652px;
  width: 1400px;
  margin-bottom: 150px;
}
.care > .slider {
  display: none;
}
.care .point {
  background: url(../../assets/icons/black_em_point.svg);
}
.care .fill-point {
  background: url(../../assets/icons/black-point.svg);
}
@media (max-width: 1400px) {
  .care > h2 {
    width: 600px;
    padding-left: 45px;
    margin-top: 151px;
    margin-bottom: 30px;
  }
  .care > h4 {
    padding-left: 122px;
    margin-bottom: 50px;
  }
  .care_cards {
    width: 930px;
  }
  .care_cards > a {
    width: 455px;
    height: 639px;
    margin-bottom: 20px;
  }
  #slide-2 {
    order: 3;
  }
  #slide-4 {
    order: 4;
  }
  .care_card {
    height: 639px;
  }
  .care_cards > img {
    transform: scaleX(-1);
    object-fit: cover;
    width: 930px;
    height: 470px;
    margin-bottom: 20px;
  }
  .care > img {
    object-fit: cover;

    width: 1200px;
    height: 668px;
  }
  .care > a {
    margin-top: 79px;
    margin-bottom: 150px;
  }
}
@media (max-width: 1120px) {
  .care {
    width: 640px;
    align-items: baseline;
  }
  .care > h2 {
    margin-top: 80px;
    padding-left: 20px;
    margin-bottom: 30px;
  }
  .care > h4 {
    width: 600px;
    padding-left: 0;
    margin: 0 auto 60px auto;
  }
  .care_cards {
    width: 640px;
    height: 317px;
    margin-left: 0;
    margin-bottom: 40px;
    position: relative;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    overflow: auto;
    border-radius: 5px;
  }
  .care_cards > a {
    height: 317px;
    width: 600px;
    padding: 0 20px;
    margin: 0;
  }
  .care > .slider > .point:focus,
  .care > .slider > .point:hover {
    background: url(../../assets/icons/black-point.svg);
  }
  .care_cards > img {
    display: none;
  }
  .care_cards::-webkit-scrollbar {
    display: none;
  }
  .care_card {
    width: 600px;
    height: 297px;
    display: flex;
    flex-direction: row;

    margin: 10px 0;
    /*margin-right: 10px;*/
  }
  .care_card > img {
    width: 300px;
    height: 297px;
    border-bottom-left-radius: 5px;
    object-fit: cover;
  }
  .care_card > p {
    width: 260px;
    margin-top: 66px;
    margin-left: 20px;
  }
  .care_card > button {
    margin-bottom: 34px;
    margin-left: 379px;
  }
  .care > a {
    margin: 0 auto 100px auto;
  }
  .care > a > button {
    margin: 0;
  }
  .care > .slider {
    display: flex;
    margin-bottom: 50px;
  }
  .care > img {
    object-fit: cover;
    margin-bottom: 100px;
    width: 640px;
    height: 379px;
  }
  .care mark {
    color: #ffffff;
  }
}
@media (max-width: 578px) {
  .care {
    width: 320px;
  }
  .care > h2 {
    width: 300px;
    margin: 50px 10px 25px;
    padding: 0;
  }
  .care > h4 {
    width: 300px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 10px;
  }
  .care_cards {
    height: 600px;
    width: 320px;
    margin-bottom: 15px;
    margin-left: 0;
  }
  .care_cards > a {
    height: 570px;
    width: 320px;
    padding: 15px 10px;
    margin: 0;
  }
  .care_card {
    width: 300px;
    height: 570px;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .care_card > img {
    width: 300px;
    height: 352px;
    object-fit: cover;
  }
  .care_card > p {
    margin-top: 0;
    width: 245px;
    height: 110px;
    overflow: hidden;
    margin-left: 27px;
  }
  .care_card > button {
    margin-left: 79px;
    margin-bottom: 20px;
  }
  .care > a > button {
    width: 300px;
    padding: 0 30px;
    text-transform: none;
  }
  .care > img {
    width: 320px;
    height: 189px;
    margin-bottom: 80px;
  }
  .care > a {
    width: 300px;
    margin-left: 10px;
    margin-bottom: 80px;
  }
}
